.table-search-container {
  margin: 2em 0;
}

table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  margin-bottom: 3em;
}

table thead {
  font-size: 1.3em;
}

.table-search-container tr th {
  text-align: left;
  border-bottom: 1px solid rgba(0 0 0 / 60%);
}

.table-search-container tr td {
  text-align: left;
  border-bottom: 1px solid rgba(0 0 0 / 60%);
  white-space: break-spaces;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-search-container tr:last-child td {
  border-bottom: none;
}

.table-search-container .opera-compozitor {
  padding-left: 110px;
  max-width: 400px;
}

.table-search-container .opera-title {
  max-width: 400px;
}

.table-search-container .opera-stil {
  max-width: 250px;
  padding-right: 1rem;
}
.table-search-container .opera-detalii {
  min-width: 300px;
  padding-right: 7.5em;
}
