table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
  margin-bottom: 3em;
}

table thead {
  font-size: 1.3em;
}

.table-categories-container tr th {
  text-align: left;
  border-bottom: 1px solid rgba(255 255 255 / 60%);
}

.table-categories-container tr td {
  text-align: left;
  border-bottom: 1px solid rgba(255 255 255 / 60%);
  white-space: break-spaces;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-categories-container tr:last-child td {
  border-bottom: none;
}

.table-categories-container .opera-compozitor {
  padding-left: 110px;
  padding-right: 10px;
  min-width: 120px;
  max-width: 400px;
}

.table-categories-container .opera-title {
  max-width: 400px;
  opacity: 0.8;
}

.table-categories-container .opera-display {
  min-width: 160px;
}

.table-categories-container .opera-an {
  max-width: 120px;
}

.table-categories-container .opera-stil {
  max-width: 250px;
  padding-right: 1rem;
}

.table-categories-container .opera-editura {
  padding-right: 7.5em;
}

@media only screen and (max-width: 600px) {
  .table-categories-container {
    max-width: 100vw;
    overflow: auto;
  }

  .table-categories-container .opera-compozitor {
    padding-left: 1em;
  }

  .table-categories-container .opera-editura {
    padding-right: 1em;
  }
}
