.home-container {
  margin: 4em auto;
  max-width: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-container .main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 100%;
}

.home-container .main-container .logo {
  width: 100px;
  height: 100px;
  margin-right: 3em;
}

.home-container .main-container h1 {
  font-size: 4em;
  font-family: 'Big Caslon', sans-serif;
  font-weight: 400;
}

.home-container .main-description {
  margin: 0;
  margin-bottom: 1em;
}

.home-container input {
  outline: none;
  margin-top: 2em;
}
.home-container input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.home-container input[type='search'] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 55px;

  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;

  width: 130px;
  background-color: #fff;
  border-color: #121412;
}

@media only screen and (max-width: 480px) {
  .home-container {
    padding: 0 2em;
  }
}
