.home-container {
  margin: 1em auto;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.main-description {
  max-width: 1079px;
  padding-right: 123px;
  margin-top: 3em;
  text-align: justify;
}

.home-container input {
  outline: none;
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

.home-container p {
  font-size: 0.9em;
  text-align: center;
}

.home-container input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
  display: none;
}

.home-container input[type='search'] {
  background: #ededed
    url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat
    9px center;
  border: solid 1px #ccc;
  padding: 9px 10px 9px 32px;
  width: 100%;
  max-width: 430px;
  background-color: #fff;
  border-color: #121412;
}

@media only screen and (max-width: 480px) {
  .home-container {
    padding: 0 2em;
  }

  .home-container .main-container .logo {
    max-width: 276px;
  }
}
