header {
  background-color: #2d4c69;
  color: #faf7eb;
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 2em;
}

.title {
  color: white;
  margin-bottom: 0;
}

.title a {
  color: white;
}
