header {
  border-bottom: 1px solid var(--text-color);
}

.logo {
  position: absolute;
  left: 1em;
  top: 4.2em;
  width: 60px;
}

.header-container {
  margin: 3em 7em 0em;
}

.header-extended {
  display: flex;
  justify-content: space-between;
  padding-left: 2em;
}

.header-title {
  font-family: 'Big Caslon', sans-serif;
  margin-bottom: 0;
}

.header-title a {
  font-size: 2.4em;
  color: var(--text-color);
}

.header-description {
  width: 390px;
  font-size: 1.2em;
  text-align: right;
}

menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-menu-container {
  list-style-type: none;
  display: flex;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.header-menu-container li {
  padding: 0 0.5em;
  border-right: 1px solid var(--text-color);
}

.languages-container {
  list-style-type: none;
  display: flex;
  font-size: 1.2em;
  margin: 0;
  padding: 0;
}

.languages-container li {
  padding: 0 0.5em;
  border-left: 1px solid var(--text-color);
}

.languages-container li:last-child {
  padding-right: 0;
}
