header {
  border-bottom: 1px solid var(--text-color);
}

header .logo {
  position: absolute;
  left: 1em;
  top: 1.2em;
  width: 70px;
}

.header-container {
  margin: 1em 7em 0em;
}

.header-extended {
  display: flex;
  justify-content: space-between;
  padding-left: 1.7em;
}

.header-title {
  font-family: 'Big Caslon', sans-serif;
  margin-bottom: 0;
}

.header-title a {
  font-size: 1.5em;
  color: var(--text-color);
}

.header-description {
  width: 390px;
  text-align: right;
}

menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.header-menu-container {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.header-menu-container li {
  padding: 0 0.5em;
  border-right: 1px solid var(--text-color);
}

.languages-container {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.languages-container li {
  padding: 0 0.7em 0.3em 0.5em;
  border-left: 1px solid var(--text-color);
}

.languages-container li:last-child {
  padding-right: 0;
}

.isExtended li a {
  color: white;
}

li.activeRoute a {
  font-weight: 700;
}
