table {
  border-collapse: collapse;
  font-size: 0.9em;
  width: 100%;
}

table thead {
  font-size: 1.3em;
  margin-bottom: 3em;
}

.table-compozitori-container tr th {
  text-align: left;
  border-bottom: 1px solid rgba(255 255 255 / 60%);
}

.table-compozitori-container tr td {
  text-align: left;
  border-bottom: 1px solid rgba(255 255 255 / 60%);
  white-space: break-spaces;
  text-overflow: ellipsis;
  overflow: hidden;
}

.table-compozitori-container tr:last-child td {
  border-bottom: none;
}

.table-compozitori-container .opera-display {
  padding-left: 110px;
}

.table-compozitori-container .opera-an {
  max-width: 150px;
}

.table-compozitori-container .opera-editura {
  padding-right: 7.5em;
}
