footer {
  padding: 0.8em;
  border-top: 1px solid var(--text-color);

  display: flex;
  justify-content: center;
}

footer p {
  font-size: 0.8em;
  margin-left: 2em;
}

.avatar {
  object-fit: contain;
}
