:root {
  --main-bg-color: #edebdd;
  --text-color: #000;
  --highlight-color: #e23f26;
  --btn-secondoray-color: #143051; /** Toate **/
}

body {
  font-family: 'Roboto', sans-serif;
  background: var(--main-bg-color);
  color: var(--text-color);
  margin: 0;
}

a {
  color: var(--text-color);
}

.root-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

.green-background {
  background-color: #058f99;
}

.red-background {
  background-color: #e6371f;
}
.white-background {
  background-color: white;
}

.page-container {
  flex-grow: 1;
}
