.about-us-container {
  margin: 2em 7em;
}

.image-container {
  float: left;
  margin-bottom: 2em;
}

.image-container img {
  max-width: 250px;
  margin-right: 2em;
}

.image-container p {
  font-size: 0.8em;
  margin: 0;
}
